.overlay {
  position: relative;
  width: 100%;
  height: 100%;
}

.scrollableArea,
.scrollableAreaDefault {
  overflow: auto;
  -webkit-overflow-scrolling: touch; /*For iPhone scroll*/
  height: 100%;
  width: 100%;
  box-sizing: content-box;
}

.scrollableArea {
  padding-right: 5vw; /*Generally 5vw padding can disappear default scroll in the browsers*/
}
